// @font-face {
//     font-family: 'fira_sans';
//     src: url('../fonts/firasans-bold-webfont.woff2') format('woff2'), url('../fonts/firasans-bold-webfont.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
// }
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    @include laptop {
        width: 992px;
    }
    @include tablet {
        width: 768px;
    }
    @include mobile {
        width: 320px;
    }
}