/* Color palette */

$brownish-grey: #646464;
$white-two: #f6f6f6;
$dark-sky-blue: #33c1e3;
$greyish-brown: #414141;
$white: #ffffff;
$silver: #b5babd;
$pinkish-grey: #c0afaa;
$cool-grey: #b0bec5;
$black-31: rgba(20, 20, 20, 0.31);
$light-grey: #f5f2ed;
$butterscotch: #f9b43b;
$dusty-orange: #eb8c38;
$silver-two: #cfd8dc;
$black--70: rgba(20, 20, 20, 0.7);
$dark-grey: #2f3234;
$silver-three: #c0c8cb;
$dark-grey-80: rgba(47, 50, 52, 0.8);
$tomato: #e35028;
$tomato-two: #e45028;
$white-50: rgba(255, 255, 255, 0.5);
$black: #000;
/////////////////////////////////////////////////
/////
/////////////////////////////////////////////////
$link-primary: $white;
$text-primary: $white;
$text-secondary: $dark-grey;
$button-primary: $tomato-two;
$button-secondary: $dark-grey;
$decor-primary: $white;
$title-primary: $butterscotch;
$title-secondary: $dark-grey;
$feeds-overlay: $dark-grey-80;